::selection {
    color: silver;
    background: transparent;
}


/* ------------------- Scroll Bar ------------------- */

/* width */
::-webkit-scrollbar {
    width: 0.75vw;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    /* border-radius: 10px; */
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 35px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: silver;
}




body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 0;
    top: 0;
    background-color: var(--body-background);
}

vsc-initialized dark-theme {
    background-color: var(--body-background);
}

/* darkmode css */

:root {
    --body-background: black;
    --logobar-background: black;
    --navbar-background: #050100;
    --signinbtn-border: #050100;
    --textdefault-color: black;
    --cardtwoprofile-background: white;
}

.a {
    text-decoration: none;
    cursor: pointer;
}

div.logobar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
    display: block;
    z-index: 1;
    background: var(--logobar-background);
    overflow: hidden;
}

img.kyledevopslogo {
    width: 14vw;
    padding: 0.5vw 1vw;
}

div.navbar {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    width: 100vw;
    display: block;
    background-color: var(--navbar-background);
}

.navbarcontent {
    width: 80vw;
    margin-top: 0;
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
    flex-wrap: wrap;
    float: right;
}

.links {
    color: whitesmoke;
    padding: 1.175vw 2.5vw;
    font-size: 1vw;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    transition-duration: 0.1s;
}

.links:hover {
    background-color: transparent;
    color: #C9D1D9;
    padding: 1.175vw 3.5vw;
    font-size: 1vw;
    border-bottom: 0.3vw solid limegreen;
}

.navbarcontent a.active {
    /* background-color: #4CAF50; */
    border-bottom: 0.3vw solid transparent;
}

.links.active:hover {
    color: white;
}

.div0 {
    width: 100%;
    height: 9%;
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

.div1 {
    color: white;
    font-size: 7.8vh;
    font-family: 'Ubuntu', sans-serif;
    padding: 42vh 2vw;
    background-color: #000000;
    /* background-image: url("https://kyle-inc.github.io/resource/kyledevops/devopsloop.jpg");
    background-repeat: no-repeat;
    height: 850px; */
}

.div2 {
    color: black;
    font-size: 7.8vh;
    font-family: 'Ubuntu', sans-serif;
    padding: 38vh 2vw;
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

.div6 {
    color: silver;
    font-size: 7.8vh;
    font-family: 'Ubuntu', sans-serif;
    padding: 30vh 2vw;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%);
}

.div3 {
    width: 46%;
    color: silver;
    font-size: 7.8vh;
    font-family: 'Ubuntu', sans-serif;
    padding: 40vh 2%;
    background-color: #000000;
    float: left;
}

.divhalf1 {
    width: 46%;
    color: silver;
    font-size: 7.8vh;
    font-family: 'Ubuntu', sans-serif;
    /* padding: 30vh 2%; */
    padding: 5vh 2%;
    margin-top: 10vh;
    background-color: #f53844;
    float: right;
}

.div4 {
    color: silver;
    font-size: 7.8vh;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 100vh;
    padding: 30vh 2vw;
    background-color: #000000;
}

.div5 {
    color: silver;
    font-size: 7.8vh;
    font-family: 'Ubuntu', sans-serif;
    padding: 50vh 2vw;
    background-color: #000000;
}

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}