*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

::selection {
    color: silver;
    background: transparent;
}


/* ------------------- Scroll Bar ------------------- */

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    /* border-radius: 10px; */
    background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: silver;
}


.navigation-header {
    position: fixed;
    background-color: black;
    padding: 0px 10px;
    height: 60px;
    width: 100%;
    top: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

nav {
    width: 97%;
    border-radius: 10px;
    /* max-width: 1650px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

/* .logo-container>a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
} */

.kyle-logo {
    width: 120px;
    /* padding: 10px 10px; */
}

.navigation-items {
    display: flex;
    gap: 70px;
}

.navigation-items>a {
    display: flex;
    color: ghostwhite;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 17px;
    transition: .4s ease-in-out;
}

.navigation-items>a:hover {
    color: silver;
    padding: 0px 20px;
}

.hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

@media screen and (max-width:768px) {
    .hamburger {
        display: flex;
        cursor: pointer;
    }

    .hamburger #closeHam {
        display: none;
    }

    .navigation-items {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 58px;
        background-color: rgb(73, 51, 153);
        width: 100%;
        height: calc(100vh - 58px);
        padding-top: 60px;
        gap: 10vh;
    }
}



.colorbar {
    position: fixed;
    width: 100%;
    height: 5px;
    margin-top: 60px;
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

.welcometokyle {
    background-image: url("https://kyle-inc.github.io/resource/kyle/backgroundindex.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 7.8vh;
    padding: 46vh 3vw;
}

div.about {
    padding: 45vh 3vw;
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
    background-repeat: no-repeat;
    background-size: cover;
}

.link-about {
    color: black;
    font-size: 7.8vh;
    font-family: 'Ubuntu', sans-serif;
}